<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <form ngNoForm enctype="multipart/form-data" [action]="url" method=post>
      File to process: <input name="file" type="file">
        <select class="form-control" type="text" name="type">
             <option *ngFor="let t of types" [value]="t">{{t}}</option>
         </select>
        <input type="submit" value="Send File">
      </form>
    </div>
  </div>
</div>
<button class="btn btn-default" (click)="test('chris')">Test!!</button>
